<h1 matDialogTitle cdkFocusRegionstart class="align-center">
	Cambia tu contraseña
</h1>

<div mat-dialog-content class="">

	<form novalidate [formGroup]="form">
		<div class="row">

			<app-form-field-input
				class="col-12"
				appearance="outline"
				formControlName="oldPassword"
				[type]="typeOldPass"
				label="Contraseña *"
				alignIcon="right"
				[icon]="iconOldPass"
				(clickIcon)="clickIconOldPass()"
				[error]="form.controls['oldPassword']"
			>
			</app-form-field-input>

			<app-form-field-input
				class="col-12"
				appearance="outline"
				formControlName="newPassword"
				[type]="typePass"
				label="Contraseña *"
				alignIcon="right"
				[icon]="iconPass"
				(clickIcon)="clickIconPass()"
			>
			</app-form-field-input>

			<div class="col-12 align-left">
				<div class="cta-list">
					<div
						class="cta-item"
						[ngClass]="
							f['newPassword'].hasError('required') ||
							f['newPassword'].hasError('minlength')
								? 'incomplete'
								: 'done'
						"
					>
						<mat-icon>check_circle_outline</mat-icon>
						<span>Entre 5 a 20 caracteres</span>
					</div>
					<div
						class="cta-item"
						[ngClass]="
							f['newPassword'].hasError('required') ||
							f['newPassword'].hasError('hasSmallCase')
								? 'incomplete'
								: 'done'
						"
					>
						<mat-icon>check_circle_outline</mat-icon>
						<span>Al menos una minúscula</span>
					</div>
					<div
						class="cta-item"
						[ngClass]="
							f['newPassword'].hasError('required') ||
							f['newPassword'].hasError('hasCapitalCase')
								? 'incomplete'
								: 'done'
						"
					>
						<mat-icon>check_circle_outline</mat-icon>
						<span>Al menos una mayúscula</span>
					</div>
					<div
						class="cta-item"
						[ngClass]="
							f['newPassword'].hasError('required') ||
							f['newPassword'].hasError('hasNumber')
								? 'incomplete'
								: 'done'
						"
					>
						<mat-icon>check_circle_outline</mat-icon>
						<span>Al menos una número</span>
					</div>
				</div>
			</div>

			<div class="col-12 mb-2">
				<mat-divider></mat-divider>
			</div>

		</div>
	</form>

</div>

<div mat-dialog-actions class="mb-0">
	<div class="d-flex justify-content-end" style="width: 100%;">
		<button
			mat-stroked-button
			class="btn-disagree"
			color="warn"
			(click)="dialogRef.close(false)"
		>
			Cancelar
		</button>

		<button
			mat-raised-button
			class="btn-agree"
			color="primary"
			#submitConfirm
			(click)="handleSubmit()"
			[disabled]="!form.valid"
		>
			Cambiar Contraseña
		</button>
	</div>
</div>
