table {
  width: 100%;
}

.cdk-column {
  &-pKey {
    min-width: 60px !important;
  }
  &-actions {
    min-width: 160px !important;
  }
}

.mat-column-index {
  min-width: 48px !important;
  padding-left: 12px !important;
  text-align: right;
}

.mat-table .mat-cell {
  line-height: 2;
  min-height: 30px;
  padding: 0 8px;
}

td.mat-cell {
  font-size: 13px;
}

th.mat-header-cell {
  font-size: 14px;
  padding: 0 8px !important;
}

mat-form-field.mat-form-field {
  display: block;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding-bottom: 8px;
  & .mat-icon {
    cursor: pointer;
  }
}

// input with appearance: outline
:host ::ng-deep .mat-form-field-appearance-outline  .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.15em 0 0.55em 0 !important;
  border-top: 0.64375em solid transparent;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-label-wrapper {
  top: -1.45em;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.0em) scale(.75);
  width: 133.5%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0%);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .4em;
}

.table__wrapper {
  position: relative;
  border-radius: 6px;
}

.table__container {
  overflow-y: hidden;
  @media screen and (max-width: 800px) {
    overflow-x: scroll;
  }
}

.table__footer {
  padding: 8px 16px;
  @media screen and (min-width: 1090px) {
    display: flex;
  }
}

.table__footer__options {
  flex: 1;
}
.table__footer__paginator {
  flex: 2;
}

.table__headers {
  padding: 8px 16px;
  @media screen and (min-width: 840px) {
    display: flex;
  }
}

.table__headers__filter {
  flex: 1;
}

.table__headers__buttons {
  min-height: 51.48px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 840px) {
    justify-content: flex-end;
  }
}
