@import "~@angular/material/theming";

@mixin app-logo-theme($theme) {
	$primary: map-get($theme, primary);

	$foreground: map-get($theme, foreground);

	app-logo {
		svg .minilogo {
			fill-rule: evenodd;
			clip-rule: evenodd;
			fill: mat-color($primary);
		}
	}
}
