<app-title title="Home"></app-title>
<!-- <app-layout></app-layout> -->

<mat-card>
	<br />
	<br />
	<div class="">
		<div class="row">
			<div class="col">
				<button mat-raised-button (click)="theme('light-theme')">
					Light Theme
				</button>
			</div>
			<div class="col">
				<button
					mat-raised-button
					(click)="theme('classic-theme')"
					color="primary"
				>
					Classic Theme
				</button>
			</div>
			<div class="col">
				<button mat-raised-button (click)="theme('')" color="accent">
					Default Theme
				</button>
			</div>
			<div class="col">
				<button mat-raised-button color="warn">Warn</button>
			</div>
			<div class="col">
				<button mat-raised-button color="info">Info</button>
			</div>
			<div class="col">
				<button mat-raised-button color="info">Info</button>
			</div>
		</div>
		<div class="row">

		</div>
	</div>

<app-multi-filter></app-multi-filter>



</mat-card>
