
@import "~@angular/material/theming";
// side-nav-item-layout.component.scss-theme
@mixin app-side-nav-item-layout-theme($theme) {
  $background: map-get($theme, background);

  app-side-nav-item-layout {
    .sidenav__item{
      background-color: transparent;
      border: 0;
      cursor: pointer;
      height: 44px;
      padding: 10px 24px;

      &:hover {
        background: mat-color($background, 'hover');
      }
    }
  }
}
