<mat-form-field class="filter-chip-list">
	<mat-chip-list #chipList aria-label="Fruit selection">
	  <mat-chip
		*ngFor="let fruit of filters"
		[selectable]="selectable"
		[removable]="removable"
		(removed)="remove(fruit)">
		{{fruit.name}}
		<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
	  </mat-chip>
	  <input
		placeholder="New fruit..."
		#fruitInput
		[formControl]="filterCtrl"
		[matAutocomplete]="auto"
		[matChipInputFor]="chipList"
		[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
		(matChipInputTokenEnd)="add($event)">
	</mat-chip-list>
	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
	  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit.id">
		{{fruit.name}}
	  </mat-option>
	</mat-autocomplete>
	<mat-hint>{{ reglas }}</mat-hint>
  </mat-form-field>
