.radio {
  &-container {
    flex-direction: column;
    display: flex;
    text-align: left;
  }
  &-label {
    margin-bottom: 1rem;
    font-size: 14px;
    @media screen and (min-width: 768px) and (max-width: 786px) {
      margin-bottom: 0.4rem;
    }

    @media screen and (min-width: 992px) and (max-width: 1048px) {
      margin-bottom: 0.4rem;
    }

    @media screen and (min-width: 1200px) and (max-width: 1572px) {
      margin-bottom: 0.4rem;
    }
  }
  &-group {
    &-vertical{
      flex-direction: column;
      display: flex;
      text-align: left;
    }

    &-item {
      margin-right: 1rem;
      margin-bottom: 0.3rem;
    }
  }
}
