// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//*
//*
$dark-palette-accent: mat-palette(
  (
    50: #e8f9fc,
    100: #c5f0f7,
    200: #9ee7f2,
    300: #77dded,
    400: #5ad5e9,
    500: #3dcee5,
    600: #37c9e2,
    700: #2fc2de,
    800: #27bcda,
    900: #1ab0d3,
    A100: #ffffff,
    A200: #d4f6ff,
    A400: #a1ecff,
    A700: #87e7ff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #00171b,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);
