$a: (
  (
    color: (
      primary: (
        50: #e7faed,
        100: #c3f3d2,
        200: #9bebb4,
        300: #73e295,
        400: #55dc7f,
        500: #37d668,
        600: #31d160,
        700: #2acc55,
        800: #23c64b,
        900: #16bc3a,
        A100: #eefff1,
        A200: #bbffc8,
        A400: #88ff9e,
        A700: #6eff89,
        contrast: (
          50: #000000,
          100: #000000,
          200: #000000,
          300: #000000,
          400: #000000,
          500: #000f04,
          600: #000000,
          700: #000000,
          800: #000000,
          900: #ffffff,
          A100: #000000,
          A200: #000000,
          A400: #000000,
          A700: #000000,
        ),
        default: #37d668,
        lighter: #c3f3d2,
        darker: #2acc55,
        text: #37d668,
        default-contrast: #000f04,
        lighter-contrast: #000000,
        darker-contrast: #000000,
        "50-contrast": #000000,
        "100-contrast": #000000,
        "200-contrast": #000000,
        "300-contrast": #000000,
        "400-contrast": #000000,
        "500-contrast": #000f04,
        "600-contrast": #000000,
        "700-contrast": #000000,
        "800-contrast": #000000,
        "900-contrast": #ffffff,
        "A100-contrast": #000000,
        "A200-contrast": #000000,
        "A400-contrast": #000000,
        "A700-contrast": #000000,
        "contrast-contrast": null,
      ),
      accent: (
        50: #e8f9fc,
        100: #c5f0f7,
        200: #9ee7f2,
        300: #77dded,
        400: #5ad5e9,
        500: #3dcee5,
        600: #37c9e2,
        700: #2fc2de,
        800: #27bcda,
        900: #1ab0d3,
        A100: #ffffff,
        A200: #d4f6ff,
        A400: #a1ecff,
        A700: #87e7ff,
        contrast: (
          50: #000000,
          100: #000000,
          200: #000000,
          300: #000000,
          400: #000000,
          500: #00171b,
          600: #000000,
          700: #000000,
          800: #000000,
          900: #000000,
          A100: #000000,
          A200: #000000,
          A400: #000000,
          A700: #000000,
        ),
        default: #3dcee5,
        lighter: #c5f0f7,
        darker: #2fc2de,
        text: #3dcee5,
        default-contrast: #00171b,
        lighter-contrast: #000000,
        darker-contrast: #000000,
        "50-contrast": #000000,
        "100-contrast": #000000,
        "200-contrast": #000000,
        "300-contrast": #000000,
        "400-contrast": #000000,
        "500-contrast": #00171b,
        "600-contrast": #000000,
        "700-contrast": #000000,
        "800-contrast": #000000,
        "900-contrast": #000000,
        "A100-contrast": #000000,
        "A200-contrast": #000000,
        "A400-contrast": #000000,
        "A700-contrast": #000000,
        "contrast-contrast": null,
      ),
      warn: (
        50: #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c,
        A100: #ff8a80,
        A200: #ff5252,
        A400: #ff1744,
        A700: #d50000,
        contrast: (
          50: rgba(0, 0, 0, 0.87),
          100: rgba(0, 0, 0, 0.87),
          200: rgba(0, 0, 0, 0.87),
          300: rgba(0, 0, 0, 0.87),
          400: rgba(0, 0, 0, 0.87),
          500: white,
          600: white,
          700: white,
          800: white,
          900: white,
          A100: rgba(0, 0, 0, 0.87),
          A200: white,
          A400: white,
          A700: white,
        ),
        default: #f44336,
        lighter: #ffcdd2,
        darker: #d32f2f,
        text: #f44336,
        default-contrast: white,
        lighter-contrast: rgba(0, 0, 0, 0.87),
        darker-contrast: white,
        "50-contrast": rgba(0, 0, 0, 0.87),
        "100-contrast": rgba(0, 0, 0, 0.87),
        "200-contrast": rgba(0, 0, 0, 0.87),
        "300-contrast": rgba(0, 0, 0, 0.87),
        "400-contrast": rgba(0, 0, 0, 0.87),
        "500-contrast": white,
        "600-contrast": white,
        "700-contrast": white,
        "800-contrast": white,
        "900-contrast": white,
        "A100-contrast": rgba(0, 0, 0, 0.87),
        "A200-contrast": white,
        "A400-contrast": white,
        "A700-contrast": white,
        "contrast-contrast": null,
      ),
      is-dark: true,
      foreground: (
        base: white,
        divider: rgba(255, 255, 255, 0.12),
        dividers: rgba(255, 255, 255, 0.12),
        disabled: rgba(255, 255, 255, 0.5),
        disabled-button: rgba(255, 255, 255, 0.3),
        disabled-text: rgba(255, 255, 255, 0.5),
        elevation: black,
        hint-text: rgba(255, 255, 255, 0.5),
        secondary-text: rgba(255, 255, 255, 0.7),
        icon: white,
        icons: white,
        text: white,
        slider-min: white,
        slider-off: rgba(255, 255, 255, 0.3),
        slider-off-active: rgba(255, 255, 255, 0.3),
      ),
      background: (
        status-bar: black,
        app-bar: #272c30,
        background: #353c42,
        hover: rgba(255, 255, 255, 0.04),
        card: #30363c,
        dialog: #272c30,
        disabled-button: rgba(255, 255, 255, 0.12),
        raised-button: #424242,
        focused-button: rgba(255, 255, 255, 0.12),
        selected-button: #212121,
        selected-disabled-button: #424242,
        disabled-button-toggle: black,
        unselected-chip: #616161,
        disabled-list-option: black,
        tooltip: #616161,
      ),
    ),
    primary: (
      50: #e7faed,
      100: #c3f3d2,
      200: #9bebb4,
      300: #73e295,
      400: #55dc7f,
      500: #37d668,
      600: #31d160,
      700: #2acc55,
      800: #23c64b,
      900: #16bc3a,
      A100: #eefff1,
      A200: #bbffc8,
      A400: #88ff9e,
      A700: #6eff89,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000f04,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
      ),
      default: #37d668,
      lighter: #c3f3d2,
      darker: #2acc55,
      text: #37d668,
      default-contrast: #000f04,
      lighter-contrast: #000000,
      darker-contrast: #000000,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #000000,
      "500-contrast": #000f04,
      "600-contrast": #000000,
      "700-contrast": #000000,
      "800-contrast": #000000,
      "900-contrast": #ffffff,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null,
    ),
    accent: (
      50: #e8f9fc,
      100: #c5f0f7,
      200: #9ee7f2,
      300: #77dded,
      400: #5ad5e9,
      500: #3dcee5,
      600: #37c9e2,
      700: #2fc2de,
      800: #27bcda,
      900: #1ab0d3,
      A100: #ffffff,
      A200: #d4f6ff,
      A400: #a1ecff,
      A700: #87e7ff,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #00171b,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
      ),
      default: #3dcee5,
      lighter: #c5f0f7,
      darker: #2fc2de,
      text: #3dcee5,
      default-contrast: #00171b,
      lighter-contrast: #000000,
      darker-contrast: #000000,
      "50-contrast": #000000,
      "100-contrast": #000000,
      "200-contrast": #000000,
      "300-contrast": #000000,
      "400-contrast": #000000,
      "500-contrast": #00171b,
      "600-contrast": #000000,
      "700-contrast": #000000,
      "800-contrast": #000000,
      "900-contrast": #000000,
      "A100-contrast": #000000,
      "A200-contrast": #000000,
      "A400-contrast": #000000,
      "A700-contrast": #000000,
      "contrast-contrast": null,
    ),
    warn: (
      50: #ffebee,
      100: #ffcdd2,
      200: #ef9a9a,
      300: #e57373,
      400: #ef5350,
      500: #f44336,
      600: #e53935,
      700: #d32f2f,
      800: #c62828,
      900: #b71c1c,
      A100: #ff8a80,
      A200: #ff5252,
      A400: #ff1744,
      A700: #d50000,
      contrast: (
        50: rgba(0, 0, 0, 0.87),
        100: rgba(0, 0, 0, 0.87),
        200: rgba(0, 0, 0, 0.87),
        300: rgba(0, 0, 0, 0.87),
        400: rgba(0, 0, 0, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(0, 0, 0, 0.87),
        A200: white,
        A400: white,
        A700: white,
      ),
      default: #f44336,
      lighter: #ffcdd2,
      darker: #d32f2f,
      text: #f44336,
      default-contrast: white,
      lighter-contrast: rgba(0, 0, 0, 0.87),
      darker-contrast: white,
      "50-contrast": rgba(0, 0, 0, 0.87),
      "100-contrast": rgba(0, 0, 0, 0.87),
      "200-contrast": rgba(0, 0, 0, 0.87),
      "300-contrast": rgba(0, 0, 0, 0.87),
      "400-contrast": rgba(0, 0, 0, 0.87),
      "500-contrast": white,
      "600-contrast": white,
      "700-contrast": white,
      "800-contrast": white,
      "900-contrast": white,
      "A100-contrast": rgba(0, 0, 0, 0.87),
      "A200-contrast": white,
      "A400-contrast": white,
      "A700-contrast": white,
      "contrast-contrast": null,
    ),
    is-dark: true,
    foreground: (
      base: white,
      divider: rgba(255, 255, 255, 0.12),
      dividers: rgba(255, 255, 255, 0.12),
      disabled: rgba(255, 255, 255, 0.5),
      disabled-button: rgba(255, 255, 255, 0.3),
      disabled-text: rgba(255, 255, 255, 0.5),
      elevation: black,
      hint-text: rgba(255, 255, 255, 0.5),
      secondary-text: rgba(255, 255, 255, 0.7),
      icon: white,
      icons: white,
      text: white,
      slider-min: white,
      slider-off: rgba(255, 255, 255, 0.3),
      slider-off-active: rgba(255, 255, 255, 0.3),
    ),
    background: (
      status-bar: black,
      app-bar: #212121,
      background: #303030,
      hover: rgba(255, 255, 255, 0.04),
      card: #424242,
      dialog: #424242,
      disabled-button: rgba(255, 255, 255, 0.12),
      raised-button: #424242,
      focused-button: rgba(255, 255, 255, 0.12),
      selected-button: #212121,
      selected-disabled-button: #424242,
      disabled-button-toggle: black,
      unselected-chip: #616161,
      disabled-list-option: black,
      tooltip: #616161,
    ),
  )
);
