.title {
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 32px;
    font-weight: 500;
    left: -1px;
    line-height: 38px;
    margin: 0;
    padding: 0;
    position: relative;
}
